.CarouselMainContainer{
    margin: 1% 0 10% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
}
h1{
    font-size: 3rem;
    color: white;
    font-weight: 600;
}
.Carousel{
    width: 40%;
    height: 100%;
}
.carousel-slider{
    height: 100%;
}
.Carousalimg{
    height: 100%;
}